*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh ;
    display: flex;
}

/* header */

header{
    position: fixed;
    background-color: white;
    width: 100%;
}

.logo-sm{
    width: 40px;
    display: block;
}

.logo{
    display: none;
}

.icon-nav i{
    display: none;
    cursor: pointer;
}

.fa-bell{
    color: orange;
}

/* sidebar */

aside{
    width: 75px;
    height: 100%;
    background-color: red;
    padding-top: 75px;
}

main{
    width: calc(100vw - 75px);
    height: 100%;
    background-color: blue;
}

.topbar{
    height: 200px;
    width: 100%;
    background-color: black;
    padding-top: 75px;
}

/***********************************
            MEDIAQUERY
************************************/

/* tablet */

@media screen and (min-width: 768px){

    aside{
        width: 150px;
    }

    main{
        width: calc(100vw - 150px);
    }

    .logo-sm{
        display: none;
    }
    
    .logo{
        display: block;
    }

}

/* desktop */

@media screen and (min-width: 991px){

    .icon-nav i{
        display: block;
    }

}